@import "./variabili";

body {
  font-family: "ubuntu", sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mainwrapper{
    position: relative;
    max-width: 1728px;
    margin: 0 auto;
    box-shadow: 0px 0px 4px #878787;
}
header {
  position: relative;
  overflow: hidden;
}
.immagine-home {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.block-home {
  display: inline-block;
  margin-left: 3%;
  margin-top: 3%;
  overflow: hidden;

}
.logo {
  margin-left: 8%;
  margin-top: 0%;
  animation-name: from-top;
  animation-duration: 1s;

  .image-logo {
    max-width: 100px;
    display: inline-block;
    vertical-align: middle;
  }
  ul {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-left: 17px;
    li {
      font-family: "ubuntu condensed";
      font-size: 1.2rem;
      color: white;
    }
  }
  ul::before {
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    background-color: black;
    left: -10px;
  }
}
.skills {
    position: relative;
    margin-left: 9%;
    margin-top: 4rem;
    background-color: #ffffffbd;
    padding: 2rem;
    max-width: 270px;
    opacity: 0;
    animation-name: from-left;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

  & > li {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  ul {
    li {
      font-size: 1rem;
      display: inline-block;
      font-weight: normal;
      a {
        color: black;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }

      &::after {
        content: ",\00a0";
      }
    }
    li:last-child::after {
      content: "";
    }
  }
}

ul.apps {
    position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 419px;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 7rem;
  animation-name: from-bottom;
  animation-duration: 1s;
  li {
    flex-basis: 50px;
    margin: 10px;
    position: relative;
    top: 0;
    transition: all ease-in-out 0.5s;
    &.open {
      animation-name: wobbling;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }
}


.scritte-home {
  font-size: 17rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  max-width: 810px;
  overflow-wrap: break-word;
  line-height: 0.7;
  opacity: 0;
  color: white;
  font-family: ubuntu;
  letter-spacing: -25px;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: right;
}